*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
    outline: 2px solid red;
    font-family: sans-serif;
    color: black ;
    }

/* ENCABEZADO */

body{
    /* background-image: url(./img/123.webp); */
    background-color: #fbce0480;
}

nav{
    display: flex;
    background-color: #7bbb4b54;
    align-items: center;
    height: 95px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    justify-content: space-between;
}

.logo a{
    display: flex;
    text-decoration: none;
}

.logo a h1{
    margin: auto 10px;
}

nav div img{
    width: 100px;
    margin: auto;
    
}

.text-logo{
    letter-spacing: 3px;
    font-size: 1.2rem;
    color: white;
    margin-right: 390px;
}

nav ul{
    list-style: none;
  
}

nav ul a li{
    display: inline-block;
    font-weight: bold;
    color: white;
}


nav ul a{
    padding: 2.4rem 1rem;
    transition: all 0.4s linear;
}

nav ul a:hover{
    background-color: #7cbb4b;
}

.enlaces ul a i{
    font-size: 20px;
    margin-right: 5px;
    color: white;
}

/* MAIN */

.container{
    margin-left: 250px;
    margin-top: 50px;
}

.imagen-container img{
    width: 900px;
    height: 250px;
    object-fit: cover;
    
}

main{
    padding-top: 120px;
}

main h2{
    margin-left: 540px;
    font-size: 32px;
}

.text{
    padding: 20px;
    background-color: white;
    border: 3px solid darkgrey;
}

.imagen-main{
    margin-left: 550px;
    width: 300px;
    height: 100px;
}

main div img{
    width: 300px;
}

main div{
    width: 900px;
    height: 250px;

}

.contarinerTop p{
    color: #7cbb4b;
    font-size: 25px;
    margin-top: 20px;
}

.contarinerTop{
    display: flex;
    padding: 30px;
    background-color: white;
    border: 3px solid darkgrey;
}

.contarinerTop img{
    width: 180px;
    margin-left: 50px;
    
}

.ContarinerTop-text{
    width: 1900px;

}